.gradle/
!gradle/wrapper/gradle-wrapper.jar
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
*.ipr
*.iws
*.iml
.DS_Store
/build/
**/build/
out/
/captures
.externalNativeBuild
.cxx/
.externalNativeBuild/
local.properties
captures/
*.hprof
.vscode/
*.log
